.typo-heading-xl {
  font-size: 7.2rem;
  line-height: 7.8rem;
  letter-spacing: -0.1rem;
}

.typo-heading-l {
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: -0.05rem;
}

.typo-heading-m {
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.02rem;
}

.typo-heading-s {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.typo-quote {
  font-size: 2rem;
  line-height: 3.5rem;
  letter-spacing: 0;
}

.typo-body {
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0;
}

.typo-footer {
  font-size: 1.5rem;
  line-height: 3.2rem;
  letter-spacing: 0;
}

// 300;400;500;600;700
