@import "_typography";
@import "_colors";
@import "_btns";

* {
  padding: 0;
}
html {
  font-size: 62.5%;

  @media (max-width: 550px) {
    font-size: 50%;
  }
}
body {
  font-size: 16px;
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--light-white);
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 3rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media (max-width: 350px) {
    flex-direction: column;
  }
}

.main {
  margin: 13rem auto;
}
.hero {
  display: grid;
  gap: 6rem;
}

.hero__main {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  .hero__title {
    font-weight: 400;
    position: relative;
    color: var(--dark-violet);

    .pattern-curved-line-1 {
      position: absolute;
      top: -4.7rem;
      left: 11rem;
      transform: scale(0.55);

      @media (max-width: 345px) {
        left: 1rem;
      }
    }

    span {
      font-weight: 700;
    }
  }

  .hero__description {
    color: var(--dark-gray);
  }
}

.hero__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4.5rem;

  .stats__item {
    display: flex;
    align-items: center;
    flex-direction: column;

    .item__num {
      font-weight: 600;
      color: var(--dark-violet);
    }
    .item__txt {
      margin-top: -0.25rem;
      letter-spacing: 2.5px;
      font-weight: 400;
      color: var(--dark-gray);
    }
  }
}

.banner {
  display: flex;
  // TODO: RESPONSIVE
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.5rem;

  position: relative;
  background: var(--dark-violet);
  border-radius: 15px;
  margin-top: 30rem;
  z-index: 99;

  .banner__person {
    position: absolute;
    top: -175px;
    .blur-pattern {
      position: absolute;
      transform: rotate(90deg) scale(0.5) translateX(130px);
    }
    img {
      position: relative;
    }
  }

  .banner__main {
    margin-top: 32.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--light-cream);

    // TODO: RESPONSIVE
    align-items: center;
    text-align: center;

    .banner__heading {
      font-weight: 400;
      span {
        font-weight: 700;
      }
    }
    .pattern-curved-line-2 {
      margin: 2rem auto 3rem;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;

  position: relative;
  padding: 0 0 7rem;
  z-index: 99;
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: #172339;
        transition: fill 0.25s;
      }
      &:hover svg {
        fill: #bcbbbb;
      }
    }
  }
}

.cream-bg-pattern {
  position: relative;
  bottom: 50vh;
  left: 0;
  right: 0;
  height: 50vh;
  background-color: var(--light-cream);
  z-index: 9;
}
